@use 'sass:string';
@use 'sass:color';

@import 'utils';

@function components($color) {
  @return strip-unit(color.hue($color)), color.saturation($color), color.lightness($color);
}

@function var($name, $alpha: 1) {
  @return string.unquote('hsla(var(#{$name}), #{$alpha})');
}

body {
  --color-background: #{components(green)};
  background: var(--color-background);
}
