@use 'sass:string';
@use 'sass:color';

@mixin define($name, $color) {
  $hue: color.hue($color);
  $saturation: color.saturation($color);
  $lightness: color.lightness($color);
  $alpha: color.lightness($color);

  #{$name}-h: #{$hue};
  #{$name}-s: #{$saturation};
  #{$name}-l: #{$lightness};
  #{$name}-a: #{$alpha};

  #{$name}: string.unquote(
    'hsla(var(#{$name}-h), var(#{$name}-s), var(#{$name}-l), var(#{$name}-a))'
  );
}

@mixin hue($name, $hue: 30%) {
  #{$name}-a: #{$hue};
}

@mixin saturation($name, $saturation: 1) {
  #{$name}-a: #{$saturation};
}

@mixin lightness($name, $lightness: 1) {
  #{$name}-a: #{$lightness};
}

@mixin alpha($name, $alpha: 1) {
  #{$name}-a: #{$alpha};
}