@function pow($number, $exponent) {
  @if $exponent == 0 {
    @return 1;
  }

  $sign: if($number > 0, 1, -1);
  $output: abs($number);

  @if $exponent > 1 {
    @for $i from 2 through $exponent {
      $output: $output * $number;
    }
  }

  @if $exponent < 1 {
    @for $i from 0 through -$exponent {
      $output: $output / $number;
    }
  }

  @return $output * $sign;
}