
@use 'sass:meta';
@use 'sass:color';

$-hsla: meta.get-function(hsla);
@function hsla($value, $alpha: 1) {
  @if type-of($value) == color {
    @return meta.call(
      $hsla,
      color.hue($value),
      color.saturation($value),
      color.lightness($value),
      $alpha
    );
  }
  @return meta.call($hsla, $value, $alpha);
}

$-hsl: meta.get-function(hsla);
@function hsl($value, $alpha: 1) {
  @debug type-of($value);
  @if type-of($value) == color {
    @return meta.call(
      $hsl,
      color.hue($value),
      color.saturation($value),
      color.lightness($value)
    );
  }
  @return meta.call($hsl, $value);
}
