@use 'sass:string';
@use 'sass:math';
@use 'sass:meta';

@mixin scale($unit: 1rem) {
  --space-unit: #{$unit};
  --space-xxxxs: calc(0.125 * #{$unit});
  --space-xxxs: calc(0.25 * #{$unit});
  --space-xxs: calc(0.375 * #{$unit});
  --space-xs: calc(0.5 * #{$unit});
  --space-sm: calc(0.75 * #{$unit});
  --space-md: calc(1.25 * #{$unit});
  --space-lg: calc(2 * #{$unit});
  --space-xl: calc(3.25 * #{$unit});
  --space-xxl: calc(5.25 * #{$unit});
  --space-xxxl: calc(8.5 * #{$unit});
  --space-xxxxl: calc(13.75 * #{$unit});
  --component-padding: var(--space-md);
}

@function vr($value: 1, $base: --baseline) {
  @if not math.is-unitless($value) {
    @error 'vr: Value must be `unitless`.';
  }
  @if (meta.type-of($base) == 'string') {
    @if (string.index($base, '--') == 1) {
      $base: string.unquote(var(#{$base}));
    }
    @if ($value == 1) {
      @return #{$base};
    }
    @return calc(#{$base} * #{$value});
  }
  @return $value * $base;
}
