@use 'sass:math';
@use 'sass:meta';

@mixin reset {
  background-color: transparent;
  padding: 0;
  border: 0;
  border-radius: 0;
  color: inherit;
  line-height: inherit;
  appearance: none;
}

@mixin triangle($direction: up, $width: 12px, $color: red) {
  width: 0;
  height: 0;
  border: $width solid transparent;

  @if ($direction == left) {
    border-right-color: $color;
  } @else if($direction == right) {
    border-left-color: $color;
  } @else if($direction == down) {
    border-top-color: $color;
  } @else {
    border-bottom-color: $color;
  }
}

@function strip-unit($number) {
  @if meta.type-of($number) == 'number' and not math($number) {
    @return $number / ($number * 0 + 1);
  }
  @return $number;
}

@function rems($value, $root: 16px) {
  @if math.unit($value) != 'px' or math.unit($root) != 'px'{
    @error 'rems: Units must be `px`.';
  }
  @return $value / $root * 1rem;
}
